*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sana', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #ffffff;
    -webkit-user-select: none;
    user-select: none;
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

a:hover{
    color: yellow;
}

/* header */
header{
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 0 1.5rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.7rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Login */

/* login button */
/* .Login{
    width: 130px;
    height: 30px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.3em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.Login:hover {
    background: #f4ff22;
    color: #162938;
} */

.wrapper{
    
    position: absolute;
    top: 20%; /* Move the top edge to the vertical center of the header */
    left: 10%; /* Move the left edge to the horizontal center of the header */
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    /* background: white; */
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);

}

.wrapper.active {
    height: 520px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}



.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    cursor: pointer;
    z-index: 1;


} 

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: lem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:focus~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;


}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


/* login button */

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: lem;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}




.Login{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.Login:hover{
    scale: 1.05;
    color: #ffffff;
}

.Login:active{
    scale: 0.95;
}

/* .dropdown_menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 300px;

}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu .Login{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 88%; /* Move the top edge to the vertical center of the header */
    left: 50%; /* Move the left edge to the horizontal center of the header */
    transform: translate(-50%, -50%);
    

}

/* Home */

.Home {
    display: flex;
    align-items: center; 
}

.Home h2{
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    color: #000000;
    
}

.Home p{
    font-family: "Wellfleet", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #000000;
    padding-top: 2%;
    padding-right: 30%;
    
    
}

.Home img{
    width: 400px;
    padding-top: 40px;
    
}


/* menu */

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.menu h1 span{
    color: #ff0000;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ff0000;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.menu .menu_box .menu_card{
    width: 450px;
    height: 480px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 2rem;
}

.menu .menu_box .menu_card .menu_image{
    width: 400px;
    height: 245px;
    padding-top: 8px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 1rem;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
    
}



.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #ff0000;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
    padding: 8px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #ff0000;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 18px;
    margin: 0 80px;
    border-radius: 2rem;
    font-size: 1.1em;
    transition: 0.3s;
}

/*Gallary*/

.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #ff0000;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ff0000;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 15px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}


.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000000;
    background: #ffffff;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    border-radius: 2rem;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}

/* About us */

.about{
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.About h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.About h1 span{
    margin-left: 15px;
    color: #ff0000;
    font-family: mv boli;
}

.about h2 {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    color: #000000;
}

.about p{
    font-family: "Wellfleet", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    padding-top: 2%;
    padding-right: 40%;
    
    
}

.about img{
    width: 300px;
    padding-top: 30px;
    padding-right: 40px;
    
}

/* contact us */

.contact{
    min-height: 100vh;
    /* background-color: #e8f0fe; */
    background-image: url(contact.png);
    padding: 50px;
    text-align: center;
}

.contact h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.contact h1 span{
    margin-left: 15px;
    color: #ff0000;
    font-family: mv boli;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group{
    margin-bottom: 20px;
}

input ,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

input:focus
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 187, 56);
}

.contact-info{
    text-align: left;
    padding-left: 70px;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p{
    margin-bottom: 10px;
    color: #555;

}

.contact-info i{
    color: #000000;
    margin-right: 10px;
}



/* Responsive */

@media(min-width: 1200px) and (max-width: 1290px){
    /* menu */

    .menu .menu_box{
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
    .menu .menu_box .menu_card{
        width: 380px;
        height: 410px;
        padding-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 2rem;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 330px;
        height: 175px;
        padding-top: 8px;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media(max-width: 1200px){
    /* menu */

    .menu .menu_box{
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
    .menu .menu_box .menu_card{
        width: 370px;
        height: 400px;
        padding-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 2rem;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 320px;
        height: 165px;
        padding-top: 8px;
        margin: 0 auto;
        overflow: hidden;
    }

}




@media(max-width: 992px){
    .navbar .links,
    .navbar .Login{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
        color: #000000;
    }

    .dropdown_menu {
        display: block;
    }

    .container{
        padding: 20px;
    }

    /* menu */

    .menu .menu_box{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .menu .menu_box .menu_card{
        width: 400px;
        height: 430px;
        padding-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 2rem;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 350px;
        height: 195px;
        padding-top: 8px;
        margin: 0 auto;
        overflow: hidden;
    }


    /* Home */


.Home h2{
    font-size: 45px;
    color: #000000;
    
}

.Home p{
    font-family: "Wellfleet", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    padding-top: 2%;
    padding-right: 30%;
    
    
}

/*Gallary*/


.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.about p{
    padding-right: 1%;  
}

.about h2 {
    font-size: 40px;
}



}


@media(max-width: 890px){
    
    /* menu */

    .menu .menu_box{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .menu .menu_box .menu_card{
        width: 350px;
        height: 380px;
        padding-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 2rem;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 300px;
        height: 145px;
    }


    /* Home */


.Home h2{
    font-size: 30px;
}

.about p{
    padding-right: 1%;
    font-size: 15px;  
}

.about h2 {
    font-size: 32px;
}


}


@media (max-width:772px){
    /* menu */

    .menu .menu_box{
        grid-template-columns: 1fr;
    }
    
    .menu .menu_box .menu_card{
        width: 550px;
        height: 580px;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 500px;
        height: 345px;
    }

    header{
        height: 500px;
    }

    /* Home */


    .Home h2{
        font-size: 30px;
        color: #000000;
        
    }

    .Home p{
        font-family: "Wellfleet", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #000000;
        padding-top: 2%;
        padding-right: 30%; 
    }

    .Home img{
        width: 300px;
        padding-top: 30px;
        
    }

    .about{
        padding: 10%;
    }

    .about p{
        padding-right: 1%;  
        font-size: 15px;
    }

    .about h2 {
        font-size: 25px;
    }

    .about img{
        width: 250px;        
    }




}


@media (max-width: 600px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .contact-wrapper{
        grid-template-columns: 1fr;
    }

    /* Home */

    header{
        height: 300px;
    }


    .Home h2{
        font-size: 20px;
        color: #000000;
        
    }

    .Home p{
        font-size: 15px; 
    }

    .Home img{
        width: 100px;
        padding-top: 30px;
        
    }

    .menu .menu_box .menu_card{
        width: 400px;
        height: 440px;
    }
    
    .menu .menu_box .menu_card .menu_image{
        width: 360px;
        height: 210px;
    }

    .about{
        padding: 8%;
    }

    .about p{
        /* padding-right: 1%;   */
        font-size: 10px;
    }

    .about h2 {
        font-size: 25px;
    }

    .about img{
        width: 200px;        
    }

    .gallary .gallary_image_box .gallary_image .gallary_btn{
        margin-top: 130px;
    }

}
